@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Moderate--cyan: hsl(176, 50%, 47%);
    --Dark--cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark--gray: hsl(0, 0%, 48%);
}

body {
    font-size: 16px;
    font-family: "Commissioner", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    background-image: url(images/image-hero-desktop.jpg);

    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#desktop-nav {
    align-items: center;
    padding: 50px 33px;
    margin-left: 10rem;
    margin-right: 4rem;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.nav-links {
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;

    flex-direction: row;
    font-family: "Commissioner", sans-serif;
    width: 450px;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 0 0.8rem 0;
    font-weight: 500;
    font-family: "Commissioner", sans-serif;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#hamburger-nav {
    display: none;
    z-index: 999;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    margin-right: 2.5rem;
    z-index: 999;
}

.mobile-logo {
    margin-left: 1.5rem;
    z-index: 3;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-left: 0 auto;
    z-index: 999;
}

.hamburger-icon span {
    width: 150%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
    z-index: 999;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    color: var(--Black);
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3 ease-in-out;
    z-index: 999;
}

.menu-links a {
    display: flex;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
    color: var(--Black);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    align-items: center;
    flex-direction: column;
    align-items: start;
    z-index: 999;
}

.menu-links li {
    list-style: none;
    color: var(--Black);
    padding-top: 1rem;
    z-index: 999;
}

.menu-links.open {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    color: var(--verydark--grayblue);
    width: 350px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    text-align: center;
    z-index: 999;
}

.menu-links .border {
    display: block;
    width: 100%;
    height: 1px;
    background: hsla(0, 0%, 0%, 0.2);
}

.hamburger-icon.open span:first-child {
    transform: rotate(40deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-43deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.mastercraft {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.mastercraft-bamboo {
    position: absolute;
    width: 90%;
    max-width: 750px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -5% 0 30% 0;
    padding: 0 3% 2.5%;
    border: 1px solid hsla(0, 0%, 48%, 0.3);
    border-radius: 8px;
}

.master-logo {
    width: 60px;
    transform: translateY(-50%);
}

h1 {
    font-size: 1.7rem;
    margin: 0 0 2%;
    text-align: center;
    font-weight: 700;
}

.mastercraft-bamboo p {
    color: var(--Dark--gray);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.this-project {
    background: var(--Moderate--cyan);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 0.9rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 20px;
    height: 50px;
    font-size: 13px;

}

.this-project:hover {
    background: var(--Dark--cyan);
}

.bookmark-btn {
    display: flex;
    align-items: center;
    width: 30%;
    height: 56px;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    margin-right: 40px;
    margin-top: 20px;
    height: 50px;
    font-size: 13px;
    font-weight: 600;
}

.bookmark-btn:hover,
.bookmark-btn:active {
    opacity: 0.7;
}

.bookmark-btn img {
    width: 56px;
    height: 56px;
}

.mobile-bookmark img {
    display: none;
}

.bookmark-text {
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
    font-size: 16px;
    color: var(--Dark--gray);
}

.numbers {
    width: 100%;
}

.numbers-section {
    display: flex;

    margin: 14rem auto 5rem auto;

    flex-flow: column nowrap;

    max-width: 750px;

    padding: 0 3% 2.5%;
    border: 1px solid hsla(0, 0%, 48%, 0.3);
    border-radius: 8px;
}

.column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row1,
.row2,
.row3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.row1 {
    border-right: 2px solid hsla(0, 0%, 48%, 0.25);
}

.row2 {
    margin-left: 3rem;
    border-right: 2px solid hsla(0, 0%, 48%, 0.25);
}

.row3 {
    margin-left: 3rem;
}

.backed {
    align-self: self-start;
    color: var(--Black);
    font-weight: 900;
    font-size: 1.5rem;
}

.row-text {
    align-self: self-start;
    padding-top: 0.5rem;
    color: var(--Dark--gray);
    font-size: 18px;
}

.column2 {
    padding-top: 2rem;
    width: 100%;
}

#progress-bar {
    width: 100%;
    overflow: hidden;
    height: 10px;
    border-radius: 10px;
    border: none;
}

#progress-bar::-moz-progress-bar {
    background: hsl(176, 50%, 47%);
    border-radius: 100px;
}

#progress-bar::-webkit-progress-bar {
    background: #e9e9ed;
}

#progress-bar::-webkit-progress-value {
    background: hsl(176, 50%, 47%);
    border-radius: 100px;
}

.main-content {
    display: flex;

    margin: -3rem auto 5rem auto;

    flex-flow: column nowrap;

    max-width: 750px;

    padding: 0 3% 2.5%;
    border: 1px solid hsla(0, 0%, 48%, 0.3);
    border-radius: 8px;
}

.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-one h1 {
    align-self: flex-start;
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.content-one p {
    align-self: flex-start;
    color: var(--Dark--gray);
    font-weight: 400;
    line-height: 32px;
    width: 100%;
    margin-top: 3rem;
}

.content-two {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid hsla(0, 0%, 48%, 0.3);
    border-radius: 8px;
    padding-bottom: 2rem;
}

.content-two-column1,
.content-four-column1 {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.content-two-column1 h1 {
    font-size: 1.2rem;
}

.content-two-column1 h3 {
    color: var(--Moderate--cyan);
    font-size: 1.2rem;
}

.content-two-column2 {
    margin: 0 auto;
    color: var(--Dark--gray);
    font-weight: 400;
    line-height: 32px;
    margin-top: 1rem;
}

.content-three-column3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

.content-three-column3 p span {
    font-weight: 700;
    font-size: 2rem;
    padding-right: 0.5rem;
}

.content-three-column3 p sup {
    color: var(--Dark--gray);
    font-weight: 500;
    font-size: 18px;
}

.this-project1 {
    background: var(--Moderate--cyan);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 0.9rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    align-self: flex-start;
}

.this-project1:hover {
    background: var(--Dark--cyan);
}

.content-four {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid hsla(0, 0%, 70%, 0.3);
    border-radius: 8px;
    padding-bottom: 2rem;
}

.content-four-column1 h1 {
    color: hsl(0, 0%, 55%);
    font-size: 1.2rem;
}

.content-four-column1 h3 {
    color: hsl(176, 50%, 80%);
    font-weight: 700;
}

.content-four-column2 {
    margin: 0 auto;

    font-weight: 400;
    line-height: 32px;
    margin-top: 1rem;
}

.content-four-column2 p {
    color: hsl(0, 0%, 70%);
    font-weight: 400;
}

.content-four-column3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

.content-four-column3 p span {
    font-weight: 700;
    font-size: 2rem;
    padding-right: 0.5rem;
    color: hsl(0, 0%, 55%);
}

.content-four-column3 p sup {
    color: hsl(0, 0%, 70%);
    font-weight: 500;
    font-size: 18px;
}

.content-four-column3 .this-project1 {
    background-color: hsl(0, 0%, 70%);
}