@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --moderate--cyan: hsl(176, 50%, 47%);
    --dark--cyan: hsl(176, 72%, 28%);
    --dark--black: hsl(0, 0%, 0%);
    --dark--grey: hsl(0, 0%, 48%);

    --soft--red: hsl(7, 99%, 70%);
    --yellow--egg: hsl(51, 100%, 49%);
    --design-text: hsl(167, 40%, 24%);
    --photo-text: hsl(198, 62%, 26%);
    --footer--dark: hsl(168, 34%, 41%);
    --verydark--blue: hsl(212, 27%, 19%);
    --verydark--grayblue: hsl(213, 9%, 39%);
    --dark--grayblue: hsl(232, 10%, 55%);
    --light--grayblue: hsl(210, 4%, 67%);
    --light--white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url(images/image-hero-desktop.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

a,
.btn {
    transition: all 300ms ease;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    margin-right: 2rem;
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: var(--light--white);
    text-decoration: none;
    text-decoration-color: var(--dark--black);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
    color: var(--light--white);
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent(var(--dark--black));
    width: max-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#mastercraft {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light--white);
}

.card {
    margin-top: -680px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 2px;
}

/* Style for the card header */
.card-hea {
    position: relative;
    background-color: #f8f8f8;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.legend {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 4px;
}

/* Style for the logo */
.card-logo {
    max-width: 100px;
    /* Adjust the size as needed */
}

/* Style for the card body */
.card-body {
    padding: 20px;
    background-color: var(--light--white);
}

.card-body h2 {
    margin-top: 40px;
    font-size: 1.5em;
    margin-bottom: 10px;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.card-body p {
    font-size: 1em;
    color: var(--dark--grey);
    line-height: 1.6;
    align-self: center;
    text-align: center;
}

/* card btn */

.round-btn {
    border-radius: 20px;
    padding: 8px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.left-btn {
    background-color: var(--moderate--cyan);
    margin-right: 260px;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
}

.right-btn {
    background-color: transparent(grey);
    color: var(--dark--black);
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
}

/* .right-btn::before {
    content: url('images/icon-bookmark.svg');
    height: 12px; width: 40px;
    position: relative;
    top: 10%;
    right: 13px;
} */

/* Additional style for the buttons container */
.buttons {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card2 {
    margin-top: -219px;
    position: absolute;
    background-color: var(--light--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    border-radius: 2px;
}

.card2>.prog1 {
    width: 193px;
    float: left;
    background-color: var(--light--white);
    margin: 20px;
    padding: -16px;
    font-size: 30px;
    border-right: 1px solid #ccc;
}

.card2>.prog2 {
    width: 193px;
    float: left;
    background-color: var(--light--white);
    margin: 20px;
    padding: -16px;
    font-size: 30px;
    border-right: 1px solid #ccc;
}

.card2>.prog3 {
    width: 193px;
    float: left;
    background-color: var(--light--white);
    margin: 20px;
    padding: -16px;
    font-size: 30px;
    border-right: 1px solid #ccc;
}
.card2>.prog3:nth-child(3) {
    border-right: none;
}

.cardh2 {
    margin-top: auto;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: left;
    justify-content: left;
}

.cardp {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card2 > .spacer{
    margin-top: 100px;
    background-color: red;
    width: 700px;
    position:absolute;
    display: block;
    flex-wrap: nowrap;
}

.progress-bar {
    margin-top: 125px;
    width: 620px;
    background-color: #eee;
    height: 20px;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.progress {
    height: 100%;
    background-color:var(--moderate--cyan);
}

/* card3 */
.card3 {
    margin-top: 405px;
    position: absolute;
    background-color: var(--light--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    border-radius: 2px;
}

.card3h2 {
    margin-top: auto;
    padding-top: 38px;
    padding-left: 38px;
    font-size: 1.5em;
    margin-bottom: 10px;
    justify-content: center;
    align-self: center;
    text-align: left;
}

.card3p {
    padding-top: 30px;
    font-size: 1em;
    color: var(--dark--grey);
    line-height: 2.0;
    text-align: left;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 38px;

}


.bamboo-stand{
    border: 1px solid black;
    border-radius: 14px;
    height: 400px;
    background-color:var(--light--white);
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

